{:paths
 ["src" "resources"]

 :deps
 {org.clojars.rutledgepaulv/missing {:mvn/version "0.1.41"}
  clj-antlr/clj-antlr               {:mvn/version "0.2.12"}
  meander/epsilon                   {:mvn/version "0.0.650"}
  babashka/process                  {:mvn/version "0.5.21"}
  org.clojure/data.json             {:mvn/version "2.4.0"}
  io.github.rutledgepaulv/cli       {:git/root "https://github.com/rutledgepaulv/cli"
                                     :git/sha  "8b95dd18619b6e521217e13a20625fe5d9b3a7a2"}
  com.github.clj-easy/graal-build-time
  {:mvn/version "0.1.4"}}

 :aliases
 {:dev       {:extra-paths   ["local"]}

  :test      {:extra-paths ["test" "resources-test"]
              :extra-deps  {io.github.cognitect-labs/test-runner
                            {:git/url "https://github.com/cognitect-labs/test-runner.git"
                             :sha     "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}}

  :run-tests {:main-opts ["-m" "cognitect.test-runner"]
              :exec-fn   cognitect.test-runner.api/test}

  :build     {:extra-deps  {io.github.clojure/tools.build
                            {:git/url "https://github.com/clojure/tools.build.git"
                             :sha     "fcb8ecb555d5db341c7fb8310a00c8c86c78aae3"}}
              :jvm-opts ["-Dclojure.compiler.direct-linking=true"]
              :extra-paths ["builds"]
              :ns-default  build}}}
